@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 207 40% 15%;
    --card: 0 0% 100%;
    --card-foreground: 207 40% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 207 40% 15%;
    --primary: 199 89% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 199 89% 48%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 20% 90%;
    --muted-foreground: 207 20% 40%;
    --accent: 199 89% 48%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 199 89% 48%;
    --radius: 0.3rem;
    --chart-1: 199 89% 48%;
    --chart-2: 188 60% 49%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 210 37% 17%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 199 89% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 37% 23%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 37% 23%;
    --sidebar-ring: 199 89% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

/* Accordion Specific Styling to match screenshot */
[data-radix-collection-item] {
  @apply border-none shadow-none;
}
